div {
  border: 1px solid black;
  background-color: blue;
  margin: 5px;
  padding: 5px;
}

#content {
  border: 5px dotted yellow;
  background-color: green;
  margin: auto;
  width: 60%;
}

.linksBox,
.textbox {
  background-color: #61ebed;
  border-radius: 20px;
}

.textBox {
  overflow: auto;
}

.textBox img {
  with: 25% float: left;
  clear: left;
}

a {}

a:hover {}

a:visited {}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
